@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 768px;
  --breakpoint-md: 992px;
  --breakpoint-lg: 1132px;
  --default-font-family: "Montserrat", "sans-serif";

  --color-azul-1: #465eff;
  --color-amarelo-1: #fcfc30;
  --color-rosa-1: #ff6e91;
  --color-verde-1: #076633;
  --color-verde-2: #7ED957;
  --color-verde-3: #032e15;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

#root {
  @apply flex flex-col min-h-dvh;
}
